<p id="notice"><%= notice %></p>

<h1 style="text-align :center">Listing Shops</h1>

<div style="text-align :center">
<%= form_tag shops_path, method: :get do%>
<%= text_field_tag(:search_text, nil, :style => "width:30%;margin: auto;margin-bottom:10px;") %>
<%= submit_tag "Search", :style => "width:15%;height:5%;background-color:#ff1493;color:white;padding:10px"%>
<% end %>
</div>

<table class="table1", style="width:1200px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip</th>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| %>
      <tr>
  	  	<td><%= shop.name %></td>
      	<td><%= shop.address %></td>
      	<td><%= shop.city %></td>
      	<td style="text-align:right;"><%= shop.zip %></td>
      	<td style="text-align:right;"><%= link_to 'Show', shop %></td>
      	<td style="text-align:right;"><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td style="text-align:right;"><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>