<p id="notice"><%= notice %></p>

<br>
<div style="text-align :center">
<%= form_tag shops_path, method: :get do%>
<%= text_field_tag(:search_text, nil, :style => "width:30%;margin: auto;margin-bottom:10px;") %>
<%= submit_tag "Search", :style => "width:15%;height:5%;background-color:#ff1493;color:white;padding:10px"%>
<% end %>
</div>

<table style="width:1200px">
  <thead>
    <tr>
      <th>Chain</th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Country Code</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @shop.chain %></td>
    <td><%= @shop.name %></td>
    <td><%= @shop.latitude %></td>
    <td><%= @shop.longitude %></td>
    <td><%= @shop.address %></td>
    <td><%= @shop.city %></td>
    <td><%= @shop.zip %></td>
    <td><%= @shop.phone %></td>
    <td><%= @shop.country_code %></td>
    <td><%= link_to 'Edit', edit_shop_path(@shop) %></td>
    <td><%= link_to 'Destroy', @shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>

<br>
<hr>
</hr>
<br>

<div class="nearby">
    <h3>Nearbys Shops</h3>
  <ul>
    <% for shop in @shop.nearbys(10) %>
       <li><%= link_to shop.name, shop %> (<%= shop.distance.round(2) %> miles)</li>
    <% end %>
  </ul>
</div>
<br>