<br>
<br>
<h1 style="font-family: 'Open Sans', sans-serif;text-align:center;">Welcome dears customers here you can find the bests plans of your city!</h1>
<br>


<div class="row">
  <div class="large-12 text-center columns">
	<ul class="stack-for-small round secondary button-group fix_button_group">
	  <li><a href="shops/new" class="button", style="background-color:#000000">Add a new shop</a></li>
	  <li><a href="shops" class="button", style="background-color:#ff1493">Shops List</a></li>
	</ul>
  </div>
</div>