/*
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

.breadcrumbs {
  margin-bottom: 10px;
}

h1 {
  
}

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
  min-height: 100%;
}

body { 
  padding-top: 40px; 
}

.fill { 
  min-height: 100%;
  height: 100%;
  margin: 0;
}

.navbar {
  margin-bottom: 0px;
  font-size: 16px;
}