// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.white { 
    border: 1px solid black; 
    margin-top: 8px;
    background: lightPink;
    padding: 5px; 
}