<!DOCTYPE html>
<html>
  <head>
    <title>Shop Your City</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>  
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="css/leaflet.awesome-markers.css">
    <script src="js/leaflet.awesome-markers.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Shopmiums spots in Your City</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Shops</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><%= link_to '+', new_shop_path %></li>
      <li class="has-dropdown">
        <a href="#">Shops</a>
        <ul class="dropdown">
          <li><%= link_to 'Add a Shop', new_shop_path %></li>
          <li class="active"><%= link_to 'Shops List', shops_path %></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
    <%= yield %>
  </body>
</html>